.container {
  display: flex;
  flex-direction: column;
  border: 2px red solid;
  height: 95vh;
}

.searchArea {
  height: 15%;
  width: 100%;
  border: 2px blue solid;
}

.subContainer1 {
  display: flex;
  width: 100%;
  height: 50%;
  border: 1px black solid;
}

.subContainer2 {
  display: flex;
  width: 100%;
  height: 35%;
  border: 1px black solid;
}

.weather {
  width: 40%;
  height: 100%;
  border: 2px green solid;
}

.calendar {
  width: 60%;
  height: 100%;
  border: 2px gray solid;
}

.todo {
  width: 30%;
  height: 100%ß;
  border: 2px pink solid;
}

.music {
  width: 40%;
  height: 100%;
  border: 2px yellow solid;
}

.mail {
  width: 30%;
  height: 100%;
  border: 2px navy solid;
}