*{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;

}



.wrap {
    width: 300%;
    height: 400px;
    background: pink;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }